<div class="container">
  <nz-steps class="step" [nzCurrent]="currentStep" (nzIndexChange)="handleStepChange($event)">
    <nz-step nzTitle="上传" [nzDisabled]="handing" [nzStatus]="uploadStatus" nzIcon="upload"></nz-step>
    <nz-step nzTitle="统计" [nzDisabled]="true" [nzStatus]="settingStatus" nzIcon="bar-chart"></nz-step>
    <nz-step nzTitle="完成" [nzDisabled]="true" [nzStatus]="finishStatus" [nzIcon]="handing?'loading':'smile'"></nz-step>
  </nz-steps>
  <nz-alert *ngIf="currentProject" nzType="success" [nzMessage]="'当前配置：'+currentProject.name"
            [nzShowIcon]="true"></nz-alert>
  <nz-alert *ngIf="!currentProject" nzType="error" nzMessage="未配置项目" [nzShowIcon]="true"></nz-alert>
  <div class="content-box">
    <!--上传-->
    <ng-template [ngIf]="currentStep === 0">
      <nz-upload
        class="uploader"
        [nzDisabled]="!currentProject"
        nzType="drag"
        nzAccept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv"
        [nzBeforeUpload]="handleFile.bind(this)"
        [nzShowUploadList]="false"
      >
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">
          点击或将文件拖到此区域内
        </p>
        <p class="ant-upload-hint">
          仅支持读取Excel文件
        </p>
      </nz-upload>
    </ng-template>
    <!--统计-->
    <ng-template [ngIf]="currentStep===1">
      <div class="card-container">
        <nz-tabset [nzTabPosition]="'top'" nzType="card" [nzTabBarExtraContent]="extraTemplate">
          <ng-template #extraTemplate>
            <button nzType="primary" nz-button (click)="exportData()" [nzLoading]="handing">
              <i nz-icon nzType="upload"></i>导出
            </button>
          </ng-template>
          <nz-tab *ngFor="let tab of analyzations" [nzTitle]="tab.month">
            <div style="padding: 16px">
              <nz-table #table nzSize="small" [nzScroll]="{ x: '100%', y: '300px' }" [nzData]="tab.memberData"
                        [nzPageSize]="10" [nzShowTotal]="totalTemplate">
                <thead>
                <tr>
                  <th nzWidth="100px">人员</th>
                  <th nzWidth="100px">计划工时</th>
                  <th nzWidth="100px">实际工时</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of table.data">
                  <td>{{ data.user.name }}</td>
                  <td>{{ data.totalPredictWork.toFixed(2) }}</td>
                  <td>{{ data.totalFinishWork.toFixed(2) }}</td>
                </tr>
                </tbody>
                <ng-template #totalTemplate let-total>共 {{ total }} 条数据</ng-template>
              </nz-table>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </ng-template>
    <ng-template [ngIf]="currentStep===2">
      <nz-result [nzIcon]="'smile-twotone'" nzTitle="导出成功" style="padding-top: 0">
        <div nz-result-extra>
          <button nz-button nzType="primary" (click)="exportArchivedFile()">导出文件</button>
        </div>
      </nz-result>
    </ng-template>
  </div>
  <!--设置弹窗-->
  <nz-modal nzClassName="setting-modal" nzWidth="80vw" [nzMaskClosable]="false" [nzStyle]="{ top: '5vh' }"
            [(nzVisible)]="settingModalVisible" nzTitle="设置" [nzFooter]="null"
            (nzOnCancel)="settingModalVisible=false">
    <app-setting [show]="settingModalVisible"></app-setting>
  </nz-modal>

  <nz-modal nzClassName="update-modal" nzWidth="40vw" [nzMaskClosable]="false"
            [(nzVisible)]="updateModalVisible" [nzTitle]="updateTitle" [nzFooter]="downloading?null:updateFooter"
            (nzOnCancel)="closeUpdateModal()">
    <ng-template [ngIf]="downloading">
      <nz-progress [nzPercent]="downloadProgress" nzStatus="active"></nz-progress>
    </ng-template>
    <ng-template [ngIf]="!downloading">
      <span style="line-height: 1.4"
            [innerHTML]="releaseInfo && (releaseInfo.releaseNotes || '更新时间：' + releaseInfo.releaseDate)"></span>
    </ng-template>
  </nz-modal>
  <ng-template #updateTitle>
    <ng-template [ngIf]="downloading">
      下载中...
    </ng-template>
    <ng-template [ngIf]="!downloading">
      发现新版本 <span style="font-size: 12px;color: #8e8e8e;">v{{releaseInfo.version}}</span>
    </ng-template>
  </ng-template>
  <ng-template #updateFooter>
    <button class="add-btn" nz-button nzType="primary" (click)="startUpdate()">
      立即更新
    </button>
    <button class="add-btn" nz-button (click)="updateModalVisible=false">
      下次再说
    </button>
  </ng-template>
</div>


